@model Languages.UI.MVC.Models.CreateIdeViewModel

@{
    ViewBag.Title = "Add";
    Layout = "_Layout";
}
<div class="card">
    <div class="card-body">
        <h2>Add IDE</h2>
        <form asp-controller="Ide" asp-action="Add" method="POST">
            <partial name="_IdeForm"/>
            <a class="btn btn-danger mt-2 mr-2" asp-area="" asp-controller="Ide" asp-action="Index">Cancel</a>
            <button type="submit" class="btn btn-primary mt-2">Save</button>
        </form>
    </div>
</div>