@model Languages.UI.MVC.Models.EditIdeWithLanguageViewModel

@{
    ViewBag.Title = @Model.EditIdeViewModel.Name;
    Layout = "_Layout";
}
<div class="card">
    <div class="card-body">
        <h2>Edit @Model.EditIdeViewModel.Name</h2>
        <p>
            Change existing values, add or delete supported languages.
        </p>
        <form asp-area="" asp-controller="Ide" asp-action="Edit">
            <div class="form-group row">
                <label asp-for="EditIdeViewModel.Name" class="col-sm-3">Name</label>
                <div class="col-sm-9">
                    <input asp-for="EditIdeViewModel.Name" autocomplete="off" class="form-control" placeholder="VSCode">
                </div>
                <span asp-validation-for="EditIdeViewModel.Name" class="text-danger ml-3"></span>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-3" asp-for="EditIdeViewModel.Manufacturer">Manufacturer</label>
                <div class="col-sm-9">
                    <input asp-for="EditIdeViewModel.Manufacturer" autocomplete="off" class="form-control" placeholder="Microsoft">
                </div>
                <span asp-validation-for="EditIdeViewModel.Manufacturer" class="text-danger ml-3"></span>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-3" asp-for="EditIdeViewModel.ReleaseDate">Release Date</label>
                <div class="col-sm-9">
                    <input asp-for="EditIdeViewModel.ReleaseDate" class="form-control" type="text" placeholder='@DateTime.Now.ToString("dd/MM/yyyy")'>
                </div>
                <span asp-validation-for="EditIdeViewModel.ReleaseDate" class="text-danger ml-3"></span>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-3" asp-for="EditIdeViewModel.SupportedLanguages">Amount of Supported Languages</label>
                <div class="col-sm-9">
                    <input asp-for="EditIdeViewModel.SupportedLanguages" autocomplete="off" class="form-control" placeholder="3">
                </div>
                <span asp-validation-for="EditIdeViewModel.SupportedLanguages" class="text-danger ml-3"></span>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-3" asp-for="EditIdeViewModel.Price">Price in &euro; </label>
                <div class="col-sm-9">
                    <input asp-for="EditIdeViewModel.Price" autocomplete="off" class="form-control" placeholder="50">
                </div>
                <span asp-validation-for="EditIdeViewModel.Price" class="text-danger ml-3"></span>
            </div>

            @if (Model.EditIdeViewModel.Languages.Count > 0)
            {
                <h3>Supported Languages</h3>
                @for (int i = 0; i < Model.EditIdeViewModel.Languages.Count; i++)
                {
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input asp-for="EditIdeViewModel.Languages[i]" value="@Model.EditIdeViewModel.Languages[i].Name" class="form-control" disabled="disabled"/>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-danger" disabled="disabled">Remove</button>
                        </div>
                    </div>
                }
            }
            <button id="addRow" type="button" class="btn btn-info">Add Row</button>
            <a asp-action="Index" class="btn btn-danger md-2 mt-2">Cancel</a>
            <button type="submit" disabled="disabled" class="btn btn-primary md-2 mt-2">Save</button>
        </form>
    </div>
</div>
